<footer class="container">
	<div class="row">
		<div class="col-md-12">
			
			<div class="pull-left logo">
				<a href="http://www.collegeofphysicians.org/"><img src="{{base_url}}themes/historyofvaccines/images/cop_logo.jpg" /></a>
			</div>
		
			<div class="pull-right text-right">
				<ul class="list-inline hidden-xs hidden-sm">
					{{footerlinksmenu}}
				</ul>
				
				<p class="text-right">
					<small>
                        {% if language.id == 'ar' %}
						    ©{{"now"|date("Y")}} <a href="http://www.collegeofphysicians.org/">جمعية الأطباء في فيلادلفيا</a>
                        {% endif %}
                        {% if language.id == 'ur' %}
						    ©{{"now"|date("Y")}} <a href="http://www.collegeofphysicians.org/">فلاڈیلفیا کے کالج آف فزیشنز</a>
                        {% endif %}
                        {% if language.id == 'hi' %}
						    ©{{"now"|date("Y")}} <a href="http://www.collegeofphysicians.org/">कॉलेज फिलाडेल्फिया के चिकित्सकों का</a>
                        {% endif %}
					</small>
				</p>
			</div>
		</div>
	</div>
</footer>
