<div class="header">
	<div class="container">
		<div class="site-header">
			<div class="pull-right">
				<ul class="list-inline social-icons hidden-sm hidden-xs">
                    {% if node.label %}
                        {% set smtitle = node.label ~ '%E2%80%94+A+Vaccine+History+Project+of+The+College+of+Physicians+of+Philadelphia' %}
                    {% else %}
                        {% set smtitle = 'The+History+of+Vaccines+%E2%80%94+A+Vaccine+History+Project+of+The+College+of+Physicians+of+Philadelphia' %}
                    {% endif %}
					<li>
						{% if lang.id == 'ar' %}شارك{% endif %}
                        {% if lang.id == 'ur' %}بانٹنا{% endif %}
                        {% if lang.id == 'hi' %}आदान प्रदान करना{% endif %}
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/themes/historyofvaccines/images/facebook.svg" alt="Facebook" class="facebook" /></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/themes/historyofvaccines/images/twitter.svg" alt="Twitter" class="twitter" /></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/themes/historyofvaccines/images/google.svg" alt="Google+" class="google" /></a>
					</li>
				</ul>

                <div class="header-search hidden-sm hidden-xs">
					<form action="/{{lang.prefix}}/search/node" method="get" id="search-block-form" accept-charset="UTF-8" data-drupal-form-fields="edit-keys">
          
                    	<div class="search-area">
                    		<input title="{% if lang.id == 'ar' %}أدخِل الكلمة التي تريد / تريدين بحثها{% endif %}{% if lang.id == 'ur' %}اصطلاحات جو آپ  تلاش کرنا چاہتے ہیں درج کریں{% endif %}{% if lang.id == 'hi' %}उन विषयों को दर्ज करें जिनकी आपको तलाश है{% endif %}" autocomplete="off" data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" class="form-search form-control" placeholder="{% if lang.id == 'ar' %}أدخِل الكلمة التي تريد / تريدين بحثها{% endif %}{% if lang.id == 'ur' %}اصطلاحات جو آپ  تلاش کرنا چاہتے ہیں درج کریں{% endif %}{% if lang.id == 'hi' %}उन विषयों को दर्ज करें जिनकी आपको तलाश है{% endif %}">
                    	</div>

                    </form>
				</div>
			</div>
			
			<div class="row">
			
				<div class="pull-left">
                    <a href="/{{ lang.prefix }}" id="site-logo">
                        {% if lang.id == 'ar' %}تاريخ التطعيمات{% endif %}
                        {% if lang.id == 'ur' %}ویکسین کی تاریخ{% endif %}
                        {% if lang.id == 'hi' %}टीके का इतिहास{% endif %}
                    </a>
                    <div><a id="a_project_of" class="hidden-sm hidden-xs" href="/{{ lang.prefix }}" rel="external" title="
                        {% if lang.id == 'ar' %}مورد و مرجع تعليمي لجمعية الأطباء في فيلادلفيا{% endif %}
                        {% if lang.id == 'ur' %}فلاڈیلفیا کے کالج آف فزیشنز کی طرف سے ایک تعلیمی وسائل{% endif %}
                        {% if lang.id == 'hi' %}एक शिक्षा संसाधन फिलाडेल्फिया के चिकित्सकों के कॉलेज द्वारा{% endif %}
                    ">
                        <span>
                            {% if lang.id == 'ar' %}مورد و مرجع تعليمي لجمعية الأطباء في فيلادلفيا{% endif %}
                            {% if lang.id == 'ur' %}فلاڈیلفیا کے کالج آف فزیشنز کی طرف سے ایک تعلیمی وسائل{% endif %}
                            {% if lang.id == 'hi' %}एक शिक्षा संसाधन फिलाडेल्फिया के चिकित्सकों के कॉलेज द्वारा{% endif %}
                        </span>
                    </a></div>
				</div>    
			</div>
		</div>
	</div>

	<div class="container">
		<div class="language-switcher visible-xs visible-sm">
			{% if lang.direction == 'ltr' %}
				<div class="">
	                <div class="dropdown">
	                    <button class="btn btn-default dropdown-toggle" type="button" id="language-switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	                        <img src="/themes/historyofvaccinesml/images/translate-icon.png" style="width: 21px;">
	                        <span class="caret"></span>
	                    </button>
	                    <ul class="dropdown-menu {% if lang.direction == "ltr" %}dropdown-menu-left{% endif %}" aria-labelledby="languageSwitcher" style="float:left;">
	                        {{ languageswitcher }}
	                    </ul>
	                </div>
	            </div>
		    {% endif %}
			
			{% if lang.direction == 'rtl' %}
	       		<div class="">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="language-switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="/themes/historyofvaccinesml/images/translate-icon.png" style="width: 21px;"> 
	                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu {% if lang.direction == "rtl" %}dropdown-menu-right{% endif %}" aria-labelledby="languageSwitcher">
                            {{ languageswitcher }}
                        </ul>
                    </div>
                </div>
            {% endif %}
		</div>
	
    	<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="pull-left mobile-logo hidden-md hidden-lg">
                    <a href="/{{ lang.prefix }}" id="site-logo">
                        {% if lang.id == 'ar' %}تاريخ التطعيمات{% endif %}
                        {% if lang.id == 'ur' %}ویکسین کی تاریخ{% endif %}
                        {% if lang.id == 'hi' %}टीके का इतिहास{% endif %}
                    </a>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span style="display:none;" class="glyphicon glyphicon-menu-hamburger"></span> <span class="glyphicon glyphicon-remove"></span> 
                        {% if lang.id == 'ar' %}في العربية{% endif %}
                        {% if lang.id == 'ur' %}اردو میں{% endif %}
                        {% if lang.id == 'hi' %}हिंदी में{% endif %}
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                	
                    {% if lang.direction == 'ltr' %}
                    	<div class="hidden-xs hidden-sm">
	                        <div class="pull-right">
	                            <div class="dropdown">
	                                <button class="btn btn-default dropdown-toggle" type="button" id="language-switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	                                    <img src="/themes/historyofvaccinesml/images/translate-icon.png" style="width: 21px;">
	                        
	                                    <span class="caret"></span>
	                                </button>
	                                <ul class="dropdown-menu {% if lang.direction == "ltr" %}dropdown-menu-right{% endif %}" aria-labelledby="languageSwitcher">
	                                    {{ languageswitcher }}
	                                </ul>
	                            </div>
	                        </div>
						</div>
                        <ul class="nav navbar-nav left-menu main-nav">
                            {{primarylinksmenu}}
                        </ul>
                        <ul class="nav navbar-nav navbar-right small-links hidden-smm hidden-xs hidden-sm">
                          	{{footerlinksmenu}}
                        </ul>
                        
                        <br style="clear:both;" />
                        
                        <ul class="list-inline social-icons hidden-sm hidden-md hidden-lg" style="text-align:left !important; padding-left: 25px;">
		                    {% if node.label %}
		                        {% set smtitle = node.label ~ '%E2%80%94+A+Vaccine+History+Project+of+The+College+of+Physicians+of+Philadelphia' %}
		                    {% else %}
		                        {% set smtitle = 'The+History+of+Vaccines+%E2%80%94+A+Vaccine+History+Project+of+The+College+of+Physicians+of+Philadelphia' %}
		                    {% endif %}
		                    
							<li>
								{% if lang.id == 'ar' %}شارك{% endif %}
		                        {% if lang.id == 'ur' %}بانٹنا{% endif %}
		                        {% if lang.id == 'hi' %}आदान प्रदान करना{% endif %}
							</li>
							<li>
						<a href="javascript:void(0);"><img src="/themes/historyofvaccinesml/images/facebook.svg" alt="Facebook" class="facebook" /></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/themes/historyofvaccinesml/images/twitter.svg" alt="Twitter" class="twitter" /></a>
					</li>
					<li>
						<a href="javascript:void(0);"><img src="/themes/historyofvaccinesml/images/google.svg" alt="Google+" class="google" /></a>
					</li>
						</ul>
                    {% endif %}
                    {% if lang.direction == 'rtl' %}
                    	<div class="hidden-xs hidden-sm">
	                        <div class="pull-left">
	                            <div class="dropdown">
	                                <button class="btn btn-default dropdown-toggle" type="button" id="language-switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	                                   <img src="/themes/historyofvaccinesml/images/translate-icon.png" style="width: 21px;">
	                        	                                    <span class="caret"></span>
	                                </button>
	                                <ul class="dropdown-menu {% if lang.direction == "ltr" %}dropdown-menu-right{% endif %}" aria-labelledby="languageSwitcher">
	                                    {{ languageswitcher }}
	                                </ul>
	                            </div>
	                        </div>
                    	</div>
                        <ul class="nav navbar-nav left-menu main-nav pull-right">
                            {{primarylinksmenu}}
                            
                        </ul>
                        <ul class="nav navbar-nav navbar-right small-links pull-left hidden-smm hidden-xs hidden-sm">
                          	{{footerlinksmenu}}
                        </ul>
                        
                        <br style="clear:both;" />
                        
                        <ul class="list-inline social-icons hidden-sm hidden-md hidden-lg">
		                    {% if node.label %}
		                        {% set smtitle = node.label ~ '%E2%80%94+A+Vaccine+History+Project+of+The+College+of+Physicians+of+Philadelphia' %}
		                    {% else %}
		                        {% set smtitle = 'The+History+of+Vaccines+%E2%80%94+A+Vaccine+History+Project+of+The+College+of+Physicians+of+Philadelphia' %}
		                    {% endif %}
							<li>
								{% if lang.id == 'ar' %}شارك{% endif %}
		                        {% if lang.id == 'ur' %}بانٹنا{% endif %}
		                        {% if lang.id == 'hi' %}आदान प्रदान करना{% endif %}
							</li>
							<li>
								<a href="javascript:void(0);"><img src="/themes/historyofvaccinesml/images/facebook.svg" alt="Facebook" class="facebook" /></a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="/themes/historyofvaccinesml/images/twitter.svg" alt="Twitter" class="twitter" /></a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="/themes/historyofvaccinesml/images/google.svg" alt="Google+" class="google" /></a>
							</li>
						</ul>
                    {% endif %}
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div>
</div>