 <a class="artwork-container {% if id %}{{ id }}{% endif %}" 
    {% if uri %} href="{{ uri }}" target="_blank" {% endif %}
    {% if images %} data-sub-html='{% for image in images %}{{ image.alt }}{% if not loop.last %}$ {% endif %}{% endfor %}' data-src-images='{% for image in images %}{{- file_url(image.entity.uri.value) -}}{% if not loop.last %}, {% endif %}{% endfor %}' {% endif %}
    {% if video %} data-sub-html='{{ alt }}' data-src-video="'{{ video }}'" {% endif %}
    {% if audio %} data-sub-html='{{ alt }}' data-src-audio="{{ file_url(audio) }}" {% endif %}
    >
    
    <div class="resource-overlay border">
    
    </div>  
    
    <div class="resource-image">
        <img src="{{ file_url(image) }}" alt="{{ alt }}" />
    </div>
    <div class="artwork-content resource-heading">
        <h3>{{ title }}</h3>
    </div>      
                
</a>