<div class="mobile-panel hidden-md hidden-lg" style="width:100%;">

	<div class="panel-group " id="accordionMobile">
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                	<a data-toggle="collapse" data-parent="#accordionMobile" href="#mobileMenuList">
                		Article Menu
						<span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-minus" style="top:2px;"></span>]</span>
                	</a>
                </h4>
            </div>
            
            <div id="mobileMenuList" class="panel-collapse collapse">
            	<div class="panel-body">
            	
            		<div class="panel-group" id="accordion">
					    <div class="panel panel-default">
					        <div class="panel-heading">
					            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMobileOne">
					                <h4 class="panel-title">
					                    {% if content.langcode['#markup'] starts with "Esp" %}
					                        La ciencia de las vacunas
					                    {% else %}
					                        Vaccine Science
					                    {% endif %}
					                    <span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
					                </h4>
					            </a>
					        </div>
					        <div id="collapseMobileOne" class="panel-collapse collapse">
					            <div class="panel-body">
					            
					            	<ul class="list-unstyled">
					            		{{vaccine_science_articles}}
					            	</ul>
					            </div>
					        </div>
					    </div>
					    <div class="panel panel-default">
					        <div class="panel-heading">
					            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMobileTwo">
					                <h4 class="panel-title">
					                     {% if content.langcode['#markup'] starts with "Esp" %}
					                        La historia y la sociedad
					                    {% else %}
					                        History and Society
					                    {% endif %}
					                	<span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
					                </h4>
					            </a>
					        </div>
					        <div id="collapseMobileTwo" class="panel-collapse collapse">
					            <div class="panel-body">
					                
					                <ul class="list-unstyled">
					            		{{history_society_articles}}
					            	</ul>
					                
					            </div>
					        </div>
					    </div>
					    <div class="panel panel-default">
					        <div class="panel-heading">
					            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMobileThree">
					                <h4 class="panel-title">
					                     {% if content.langcode['#markup'] starts with "Esp" %}
					                        Informacion sobre las vacunas
					                    {% else %}
					                        Vaccine Information
					                    {% endif %}
					                	<span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
					                </h4>
					            </a>
					        </div>
					        <div id="collapseMobileThree" class="panel-collapse collapse">
					            <div class="panel-body">
					            	<ul class="list-unstyled">
					            		{{vaccine_information_articles}}
					            	</ul>
					            </div>
					        </div>
					    </div>
					    
					    <div class="panel panel-default">
					        <div class="panel-heading">
					            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMobileFour">
					                <h4 class="panel-title">
					                    {% if content.langcode['#markup'] starts with "Esp" %}
					                        Enfermedades que se pueden prevenir con las vacunas
					                    {% else %}
					                        Vaccine-Preventable Diseases
					                    {% endif %}
					                	<span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
					                </h4>
					            </a>
					        </div>
					        <div id="collapseMobileFour" class="panel-collapse collapse">
					            <div class="panel-body">
					            	<ul class="list-unstyled">
					            		{{vaccine_preventable_diseases}}
					            	</ul>
					            </div>
					        </div>
					    </div>
					    
					     <div class="panel panel-default">
					        <div class="panel-heading">
					            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMobileFive">
					                <h4 class="panel-title">
					                     {% if content.langcode['#markup'] starts with "Esp" %}
					                        Preguntas comunes
					                    {% else %}
					                        Common Questions
					                    {% endif %}
					                	<span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
					                </h4>
					            </a>
					        </div>
					        <div id="collapseMobileFive" class="panel-collapse collapse">
					            <div class="panel-body">
					                <ul class="list-unstyled">
					            		{{ common_questions_articles }}
					            	</ul>
					            </div>
					        </div>
					    </div>    
					</div>
            	
            	
            	</div>
            </div>
		</div>
        
    </div>

</div>

	
<div class="hidden-xs hidden-sm">
	<div class="panel-group" id="accordion">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	                <h4 class="panel-title">
	                    {% if content.langcode['#markup'] starts with "Esp" %}
	                        La ciencia de las vacunas
	                    {% else %}
	                        Vaccine Science
	                    {% endif %}
	                    <span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
	                </h4>
	            </a>
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse">
	            <div class="panel-body">
	            
	            	<ul class="list-unstyled">
	            		{{vaccine_science_articles}}
	            	</ul>
	            </div>
	        </div>
	    </div>
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	                <h4 class="panel-title">
	                     {% if content.langcode['#markup'] starts with "Esp" %}
	                        La historia y la sociedad
	                    {% else %}
	                        History and Society
	                    {% endif %}
	                	<span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
	                </h4>
	            </a>
	        </div>
	        <div id="collapseTwo" class="panel-collapse collapse">
	            <div class="panel-body">
	                
	                <ul class="list-unstyled">
	            		{{ history_society_articles }}
	            	</ul>
	                
	            </div>
	        </div>
	    </div>
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	                <h4 class="panel-title">
	                     {% if content.langcode['#markup'] starts with "Esp" %}
	                        Informacion sobre las vacunas
	                    {% else %}
	                        Vaccine Information
	                    {% endif %}
	                	<span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
	                </h4>
	            </a>
	        </div>
	        <div id="collapseThree" class="panel-collapse collapse">
	            <div class="panel-body">
	            	<ul class="list-unstyled">
	            		{{vaccine_information_articles}}
	            	</ul>
	            </div>
	        </div>
	    </div>
	    
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	                <h4 class="panel-title">
	                     {% if content.langcode['#markup'] starts with "Esp" %}
	                        Enfermedades que se pueden prevenir con las vacunas
	                    {% else %}
	                        Vaccine-Preventable Diseases
	                    {% endif %}
	                	<span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
	                </h4>
	            </a>
	        </div>
	        <div id="collapseFour" class="panel-collapse collapse">
	            <div class="panel-body">
	            	<ul class="list-unstyled">
	            		{{vaccine_preventable_diseases}}
	            	</ul>
	            </div>
	        </div>
	    </div>
	    
	     <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
	                <h4 class="panel-title">
	                     {% if content.langcode['#markup'] starts with "Esp" %}
	                        Preguntas comunes
	                    {% else %}
	                        Common Questions
	                    {% endif %}
	                	<span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
	                </h4>
	            </a>
	        </div>
	        <div id="collapseFive" class="panel-collapse collapse">
	            <div class="panel-body">
	                <ul class="list-unstyled">
	            		{{ common_questions_articles }}
	            	</ul>
	            </div>
	        </div>
	    </div>    
	</div>
</div>
<div class="sidebar hidden-xs hidden-sm">
	
	{% if content.field_rel_articles[0] %}
		<div class="sidebar-item">
		
			 {% if content.langcode['#markup'] starts with "Esp" %}
				<h5>Articulos Relacionadas</h5>
			{% else %}
				<h5>Related Articles</h5>
			{% endif %}
			
			<ul>
				{% for key, activities in content.field_rel_articles if key|first != '#' %}
					<li>
						<div class="sidebar-blurb">
							<p class="title">
								<a href="{{ path('entity.node.canonical', {'node': activities['#node'].id}) }}">{{ activities['#node'].title.value }}</a>
							</p>
							
							{% if activities['#node'].field_related_media[0] %}

                                {% if activities['#node'].field_related_media[0].entity.field_orig_filename.value ends with "m4v" %}
                                    {% set orig_filename = activities['#node'].field_related_media[0].entity.field_orig_filename.value|split('.')[0] %}
                                {% else %}
                                    {% set orig_filename = activities['#node'].field_related_media[0].entity.field_orig_filename.value %}
                                {% endif %}
                            
                                {% if orig_filename|length == 1 %}
                            		{% set orig_filename = '00000' ~ orig_filename %}
                            
                                {% elseif orig_filename|length == 2 %}
                                    {% set orig_filename = '0000' ~ orig_filename %}
                            
                                {% elseif orig_filename|length == 3 %}
                                    {% set orig_filename = '000' ~ orig_filename %}
                            
                                {% elseif orig_filename|length == 4 %}
                                    {% set orig_filename = '00' ~ orig_filename %}
                            
                                {% elseif orig_filename|length == 5 %}
                                    {% set orig_filename = '0' ~ orig_filename %}
                            	{% endif %}
								
							{% endif %}
							
							<p>
                                {% if orig_filename %}
								    <img style="float:left; margin-right:15px; margin-bottom:5px; width:65px;" 
                                        src="http://media.historyofvaccines.org/images/{{ orig_filename }}_265.jpg">
                                {% endif %}
								{{ activities['#node'].field_synopsis.value|raw   }}
								<br style="clear:both;" />
							</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}	
	
	{% if content.field_rel_simulations[0] %}
		<div class="sidebar-item">
			 {% if content.langcode['#markup'] starts with "Esp" %}
				<h5>Actividades Relacionadas</h5>
			{% else %}
				<h5>Related Activities</h5>
			{% endif %}
		
			<ul>
				{% for key, activities in content.field_rel_simulations if key|first != '#' %}
					
					<li>
						<div class="sidebar-blurb">
							<p class="title">
								<a href="{{ path('entity.node.canonical', {'node': activities['#node'].id}) }}">{{ activities['#node'].title.value }}</a>
							</p>
		
							<p>
								<img style="float:left; margin-right:15px; margin-bottom:5px;" 
								src="{{file_url(activities['#node'].field_thumbnail65_image[0].entity.uri.value)}}">
								{{ activities['#node'].field_synopsis.value|raw }}
							</p>
							
							<br style="clear:both;" />
						</div>
					</li>
				{% endfor %}					
			</ul>
		</div>
	{% endif %}
	
	{% if content.field_rel_blog_posts[0] %}
		<div class="sidebar-item">
			 {% if content.langcode['#markup'] starts with "Esp" %}
				<h5>Art’culos Relacionados Blog</h5>
			{% else %}
				<h5>Related Blog Posts</h5>
			{% endif %}
			
			<ul>
				{% for key, activities in content.field_rel_blog_posts if key|first != '#' %}
					<li>
						<div class="sidebar-blurb">
							<p class="date" style="margin-bottom:2px;">{{ activities['#node'].created.value|date("m/d/Y") }}</p>
							<p class="title">
								<a href="{{ path('entity.node.canonical', {'node': activities['#node'].id}) }}">{{ activities['#node'].title.value }}</a>
							</p>
							<br style="clear:both;" />
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}	
	
	{% if content.field_rel_items[0] %}
		<div class="sidebar-item">
			 {% if content.langcode['#markup'] starts with "Esp" %}
				<h5>Enlaces Relacionados</h5>
			{% else %}
				<h5>Related Links</h5>
			{% endif %}
			
			<ul>
				{% for key, activities in content.field_rel_items if key|first != '#' %}
					<li>
						<div class="sidebar-blurb">
							<p class="title">
								<a href="{{ path('entity.node.canonical', {'node': activities['#node'].id}) }}">{{ activities['#node'].title.value }}</a>
							</p>
		
							<p>
								{{ activities['#node'].field_synopsis.value|raw   }}
								<br style="clear:both;" />
							</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}	
	
	
	{% if content.field_rel_quiz_question[0] %}
		<div class="sidebar-item quiz-item">
			
			<div class="header">
				<h4>{% trans %}What do you think?{% endtrans %}</h4>
			</div>
			
			<div class="questions">
				<p>
					{{ content.field_rel_quiz_question[0]['#node'].field_question[0].value }}
				</p>
			</div>
			
			<div class="choices" data-answer="{{content.field_rel_quiz_question[0]['#node'].field_answer.value}}">
				<ul>
					{% for answer in content.field_rel_quiz_question[0]['#node'].field_choice %}
					
						<li>
							{{ answer.value }} 
						</li>
						
					{% endfor %}
				</ul>
			</div>
			
			<div class="more-info">
			
				<span class="answer">Correct</span>
				{{ content.field_rel_quiz_question[0]['#node'].body[0].value|raw }}
			</div>
			
		</div>

	{% endif %}
	
</div>