<div class="mobile-panel hidden-md hidden-lg" style="width:100%;">

	<div class="panel-group " id="accordionMobile">
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                	<a data-toggle="collapse" data-parent="#accordionMobile" href="#mobileMenuList">
                        {% if language.id == 'ar' %}مقالات وبحوث <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                        {% if language.id == 'ur' %}مضامین <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>सामग्री{% endif %}
                	</a>
                </h4>
            </div>
            
            <div id="mobileMenuList" class="panel-collapse collapse">
            	<div class="panel-body">
            	
            		<div class="panel-group" id="accordion">
					    <div class="panel panel-default">
					        <div class="panel-heading">
					            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMobileOne">
					                <h4 class="panel-title">
                                        {% if language.id == 'ar' %}علوم اللقاحات <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                                        {% if language.id == 'ur' %}ویکسین سائنس <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>वैक्सीन विज्ञान{% endif %}
					                </h4>
					            </a>
					        </div>
					        <div id="collapseMobileOne" class="panel-collapse collapse">
					            <div class="panel-body">
					            
					            	<ul class="list-unstyled">
					            		{{vaccine_science_articles}}
					            	</ul>
					            </div>
					        </div>
					    </div>
					    <div class="panel panel-default">
					        <div class="panel-heading">
					            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMobileTwo">
					                <h4 class="panel-title">
                                        {% if language.id == 'ar' %}التاريخ والمجتمع <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                                        {% if language.id == 'ur' %}تاریخ اور معاشرے <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>इतिहास और समाज {% endif %}
					                	
					                </h4>
					            </a>
					        </div>
					        <div id="collapseMobileTwo" class="panel-collapse collapse">
					            <div class="panel-body">
					                
					                <ul class="list-unstyled">
					            		{{history_society_articles}}
					            	</ul>
					                
					            </div>
					        </div>
					    </div>
					    <div class="panel panel-default">
					        <div class="panel-heading">
					            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMobileThree">
					                <h4 class="panel-title">
					                    {% if language.id == 'ar' %}معلومات التطعيم <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                                        {% if language.id == 'ur' %}ویکسین معلومات <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>वैक्सीन  सम्बन्धित  सूचना{% endif %}
					                </h4>
					            </a>
					        </div>
					        <div id="collapseMobileThree" class="panel-collapse collapse">
					            <div class="panel-body">
					            	<ul class="list-unstyled">
					            		{{vaccine_information_articles}}
					            	</ul>
					            </div>
					        </div>
					    </div>
					    
					    <div class="panel panel-default">
					        <div class="panel-heading">
					            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMobileFour">
					                <h4 class="panel-title">
					                    {% if language.id == 'ar' %}الامراض المتجَنَّبة باللقاح <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                                        {% if language.id == 'ur' %}ویکسین کے ذریعے روکی جانے والی بیماریوں <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>टीके रोके रोग{% endif %}
					                </h4>
					            </a>
					        </div>
					        <div id="collapseMobileFour" class="panel-collapse collapse">
					            <div class="panel-body">
					            	<ul class="list-unstyled">
					            		{{vaccine_preventable_diseases}}
					            	</ul>
					            </div>
					        </div>
					    </div>
					    
					     <div class="panel panel-default">
					        <div class="panel-heading">
					            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMobileFive">
					                <h4 class="panel-title">
					                    {% if language.id == 'ar' %}أسئلة عامة <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                                        {% if language.id == 'ur' %}عمومی سوالات <span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>आम सवाल{% endif %}
					                </h4>
					            </a>
					        </div>
					        <div id="collapseMobileFive" class="panel-collapse collapse">
					            <div class="panel-body">
					                <ul class="list-unstyled">
					            		{{ common_questions_articles }}
					            	</ul>
					            </div>
					        </div>
					    </div>    
					</div>
            	
            	
            	</div>
            </div>
		</div>
        
    </div>

</div>

	
<div class="hidden-xs hidden-sm">
	<div class="panel-group" id="accordion">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	                <h4 class="panel-title">
	                    {% if language.id == 'ar' %}<span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>علوم اللقاحات{% endif %}
                        {% if language.id == 'ur' %}<span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>ویکسین سائنس{% endif %}
                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>वैक्सीन विज्ञान{% endif %}
	                </h4>
	            </a>
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse">
	            <div class="panel-body">
	            
	            	<ul class="list-unstyled">
	            		{{vaccine_science_articles}}
	            	</ul>
	            </div>
	        </div>
	    </div>
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	                <h4 class="panel-title">
	                    {% if language.id == 'ar' %}التاريخ والمجتمع<span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                        {% if language.id == 'ur' %}تاریخ اور معاشرے<span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>इतिहास और समाज{% endif %}
	                </h4>
	            </a>
	        </div>
	        <div id="collapseTwo" class="panel-collapse collapse">
	            <div class="panel-body">
	                
	                <ul class="list-unstyled">
	            		{{ history_society_articles }}
	            	</ul>
	                
	            </div>
	        </div>
	    </div>
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	                <h4 class="panel-title">
	                    {% if language.id == 'ar' %}معلومات التطعيم<span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                        {% if language.id == 'ur' %}ویکسین معلومات<span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>वैक्सीन  सम्बन्धित  सूचना{% endif %}
	                </h4>
	            </a>
	        </div>
	        <div id="collapseThree" class="panel-collapse collapse">
	            <div class="panel-body">
	            	<ul class="list-unstyled">
	            		{{vaccine_information_articles}}
	            	</ul>
	            </div>
	        </div>
	    </div>
	    
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	                <h4 class="panel-title">
	                    {% if language.id == 'ar' %}الامراض المتجَنَّبة باللقاح<span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                        {% if language.id == 'ur' %}ویکسین کے ذریعے روکی جانے والی بیماریوں<span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>टीके रोके रोग{% endif %}
	                </h4>
	            </a>
	        </div>
	        <div id="collapseFour" class="panel-collapse collapse">
	            <div class="panel-body">
	            	<ul class="list-unstyled">
	            		{{vaccine_preventable_diseases}}
	            	</ul>
	            </div>
	        </div>
	    </div>
	    
	     <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
	                <h4 class="panel-title">
	                    {% if language.id == 'ar' %}أسئلة عامة<span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                        {% if language.id == 'ur' %}عمومی سوالات<span class="pull-right" style="font-size:10px; padding-left:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>{% endif %}
                        {% if language.id == 'hi' %}<span class="pull-left" style="font-size:10px; padding-right:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>आम सवाल{% endif %}
	                </h4>
	            </a>
	        </div>
	        <div id="collapseFive" class="panel-collapse collapse">
	            <div class="panel-body">
	                <ul class="list-unstyled">
	            		{{ common_questions_articles }}
	            	</ul>
	            </div>
	        </div>
	    </div>    
	</div>
</div>
<div class="sidebar hidden-xs hidden-sm">
	
	{% if content.field_rel_articles[0] %}
		<div class="sidebar-item">
		
			{% if language.id == 'ar' %}مقالات ذات علاقة{% endif %}
            {% if language.id == 'ur' %}متعلقہ مضامین{% endif %}
            {% if language.id == 'hi' %}संबंधित लेख{% endif %}
			
			<ul>
				{% for key, activities in content.field_rel_articles if key|first != '#' %}
					<li>
						<div class="sidebar-blurb">
							<p class="title">
								<a href="{{ path('entity.node.canonical', {'node': activities['#node'].id}) }}">{{ activities['#node'].title.value }}</a>
							</p>
							
							{% if activities['#node'].field_related_media[0] %}

                                {% if activities['#node'].field_related_media[0].entity.field_orig_filename.value ends with "m4v" %}
                                    {% set orig_filename = activities['#node'].field_related_media[0].entity.field_orig_filename.value|split('.')[0] %}
                                {% else %}
                                    {% set orig_filename = activities['#node'].field_related_media[0].entity.field_orig_filename.value %}
                                {% endif %}
                            
                                {% if orig_filename|length == 1 %}
                            		{% set orig_filename = '00000' ~ orig_filename %}
                            
                                {% elseif orig_filename|length == 2 %}
                                    {% set orig_filename = '0000' ~ orig_filename %}
                            
                                {% elseif orig_filename|length == 3 %}
                                    {% set orig_filename = '000' ~ orig_filename %}
                            
                                {% elseif orig_filename|length == 4 %}
                                    {% set orig_filename = '00' ~ orig_filename %}
                            
                                {% elseif orig_filename|length == 5 %}
                                    {% set orig_filename = '0' ~ orig_filename %}
                            	{% endif %}
								
							{% endif %}
							
							<p >
                                {% if orig_filename %}
								    <img style="float:right; margin-left:15px; margin-bottom:5px; width:65px;" 
                                        src="https://media.historyofvaccines.org/images/{{ orig_filename }}_265.jpg">
                                {% endif %}
								<span class="text-right">{{ activities['#node'].field_synopsis.value|raw }}</span>
								<br style="clear:both;" />
							</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}	
	
</div>