{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}

<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/themes/historyofvaccines/js/lib/jquery.ui.slider-rtl.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head-placeholder token="{{ placeholder_token|raw }}">
    {% set hmtlTitle = node_type %}
    
    
    {% if view_name == 'timeline' or view_name == 'articles' or view_name == 'activities' %}
    
    	{% if view_name == 'timeline' %}
    	
    		{% if language.id == 'ar' %} 
	            {% set hmtlTitle = 'تاريخ التطعيمات | الإطار الزمني' %}
	        {% endif %}
	        {% if language.id == 'ur' %}
	            {% set hmtlTitle = 'ویکسین کی تاریخ | ٹائم لائن' %}
	        {% endif %}
	        {% if language.id == 'hi' %}
	            {% set hmtlTitle = 'टाइमलाइन`` | टीके का इतिहास' %}
	        {% endif %}
			<title>{{hmtlTitle}}</title>
    	{% endif %}
    	
    	{% if view_name == 'articles' %}
    	
    		{% if language.id == 'ar' %} 
	            {% set hmtlTitle = 'تاريخ التطعيمات | مضامین' %}
	        {% endif %}
	        {% if language.id == 'ur' %}
	            {% set hmtlTitle = 'ویکسین کی تاریخ | مقالات وبحوث' %}
	        {% endif %}
	        {% if language.id == 'hi' %}
	            {% set hmtlTitle = 'सामग्री | टीके का इतिहास' %}
	        {% endif %}
			<title>{{hmtlTitle}}</title>
    	{% endif %}
    	
    	{% if view_name == 'activities' %}
    	
    		{% if language.id == 'ar' %} 
	            {% set hmtlTitle = 'تاريخ التطعيمات | نشاطات' %}
	        {% endif %}
	        {% if language.id == 'ur' %}
	            {% set hmtlTitle = 'ویکسین کی تاریخ | سرگرمیاں' %}
	        {% endif %}
	        {% if language.id == 'hi' %}
	            {% set hmtlTitle = 'क्रियाएँ | टीके का इतिहास' %}
	        {% endif %}
			<title>{{hmtlTitle}}</title>
    	{% endif %}
    
    {% else %}
    
    	{% if hmtlTitle starts with "home" %}
	    	{% set hmtlTitle = head_title['title'] %}
	    	<title>{{hmtlTitle}}</title>
	    {% else %}
	        {% if language.id == 'ar' %} 
	            {% set hmtlTitle = 'تاريخ التطعيمات | ' ~ head_title['title'] %}
	        {% endif %}
	        {% if language.id == 'ur' %}
	            {% set hmtlTitle = 'ویکسین کی تاریخ | ' ~ head_title['title'] %}
	        {% endif %}
	        {% if language.id == 'hi' %}
	            {% set hmtlTitle = head_title['title'] ~ ' | टीके का इतिहास' %}
	        {% endif %}
	        
	        <title>{{hmtlTitle}}</title>
	    {% endif %}
    	
    {% endif %}
    
    
    
    

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">  
    
    <style>
    	
    </style>

</head>
<body {{ attributes }} class="fade-in">
	<a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <div id="viewer"><div id="viewer-inner"></div></div>
    
    
    {% if node.label %}
        {% set smtitle = node.label ~ '%E2%80%94+A+Vaccine+History+Project+of+The+College+of+Physicians+of+Philadelphia' %}
    {% else %}
        {% set smtitle = 'The+History+of+Vaccines+%E2%80%94+A+Vaccine+History+Project+of+The+College+of+Physicians+of+Philadelphia' %}
    {% endif %}
    
    <script type="text/javascript">
    	document.getElementById("edit-keys").addEventListener("keyup", function(e) {
			e.preventDefault();
			e.stopPropagation();
			if (event.keyCode == 13) {
				var search = "?keys=" + document.getElementById('edit-keys').value + "&f[0]=type:article&f[1]=type:page&f[2]=type:educational&f[3]=type:timeline_entry";
				var searchLink = window.location.origin + '/{{language.id}}/search/node' + search;
				window.location = searchLink;
			}
		});
		
		
		$(document).ready(function(){
			var _title = encodeURIComponent(document.title);
			
			$('.facebook').click(function() {
				var fb = "https://www.facebook.com/dialog/share?app_id=140586622674265&display=popup&href=" + window.location.href + "&picture=&title="+ _title; /* + "&redirect_uri=" + window.location.href;*/
				win = window.open(fb, '_blank');
		    });
		    
		    $('.twitter').click(function() {
			    var twitter = "https://twitter.com/intent/tweet?text="+ _title + "&url=" + window.location.href;
			    win = window.open(twitter, '_blank');
		    });
		    
		    $('.google').click(function() {
			    
				var google = "https://www.google.com/bookmarks/mark?op=add&bkmk=" + window.location.href + "&title="+ _title +"&annotation=";
			    win = window.open(google, '_blank');
		    });
		});	
    </script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5755a6c926eeffb8"></script>
	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-12840640-3','auto');ga('send','pageview');</script>
            
</body>
</html>
