{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}



	<div class="blocks">
		<div class="large-block pull-left">
			{#node.field_featured_relative_path[0].value#}
			<a href="{{ base_path }}{{ node.field_featured_relative_path.value }}"><img src="{{ file_url(node.field_featured_image.entity.fileuri) }}" class="img-responsive" /></a>
		</div>
		
		<div class="small-block pull-right dark-blue-block hidden-sm hidden-xs">
			<p>
				{{node.field_about_text[0].value|raw}}
			</p>
			<a href="{{front_page}}content/about" class="view-more inverse">More &#9654;</a>
		</div>
		
		<div class="small-block pull-right hidden-sm hidden-xs">
			<a href="{{ base_path }}/timeline"><img src="{{front_page}}themes/historyofvaccines/images/homepage/TIMELINE.jpg" class="img-responsive" width="100%" /></a>
		</div>
	</div>
	
	<br style="clear:both; " class="hidden-sm hidden-xs" />
	
	

<div class="main-content">
<div class="row">
	<div class="col-md-3 img-nav hidden-xs hidden-sm">
		<ul class="list-unstyled">
					
			<li>
				<a href="./activities">
					<img src="{{front_page}}themes/historyofvaccines/images/homepage/ImgNav_Activities.jpg" class="img-responsive">
				</a>
			</li>
					
			<li>
				<a href="./gallery">
					<img src="{{front_page}}themes/historyofvaccines/images/homepage/ImgNav_Gallery.jpg" class="img-responsive">
				</a>
			</li>
					
			<li>
				<a href="./content/parents">
					<img src="{{front_page}}themes/historyofvaccines/images/homepage/IngNav_Families.jpg" class="img-responsive">
				</a>
			</li>
					
			<li>
				<a href="./content/educators">
					<img src="{{front_page}}themes/historyofvaccines/images/homepage/ImgNav_Educators.jpg" class="img-responsive">
				</a>
			</li>
					
		</ul>
	</div>
	
	<div class="col-md-3 col-sm-6">
		
		<div class="homepage-item">
			<h5>Featured Articles</h5>
			
			<ul class="link-list recent-posts">
				{{ featured_articles }}
			</ul>
		</div>
		
	</div>
	
	<div class="col-md-3 col-sm-6">
		<div class="homepage-item">
			<h5>Popular Articles</h5>
			
			<ul class="link-list recent-posts">
				{{ popular_articles }}
			</ul>
		</div>
	</div>
	
	<div class="col-md-3 col-sm-6">
		<div class="homepage-item">
			<h5>Recent Posts</h5>
			
			<ul class="link-list recent-posts">
				{{ recent_post }}
			</ul>
            <a href="{{ base_path }}/blog" class="view-more">View All &#9654;</a>
		</div>
	</div>
    <div class="col-md-3 col-sm-6">
		<div class="sidebar">
			{% if content.field_rel_quiz_question[0] %}
				<div class="sidebar-item quiz-item">
					
					<div class="header">
						<h4>What do you think?</h4>
					</div>
					
					<div class="questions">
						<p>
							{{content.field_rel_quiz_question[0]['#options'].entity.field_question[0].value}}
						</p>
					</div>
					
					<div class="choices" data-answer="{{content.field_rel_quiz_question[0]['#options'].entity.field_answer.value}}">
						<ul>
							{% for answer in content.field_rel_quiz_question[0]['#options'].entity.field_choice %}
							
								<li>
									{{ answer.value }} 
								</li>
								
							{% endfor %}
						</ul>
					</div>
					
					<div class="more-info">
					
						<span class="answer">Correct</span>
						{{ content.field_rel_quiz_question[0]['#options'].entity.body[0].value|raw }}
					</div>
					
					
				</div>
		
			{% endif %}
		</div>
	</div>
</div>
</div>



<script type="text/javascript">

	$(document).ready(function(){
		$('.choices ul li').click(function(){
			if(!$(this).parent().parent().hasClass('answered')) {
			
				var answer = $(this).parent().parent().data('answer');
				var n = $(this).index();
				
				var chr = String.fromCharCode(97 + n);
				
				if(chr == answer) {
					$('span.answer').text('Correct');
				} else {
					$('span.answer').text('Incorrect');
				}
				$(this).parent().parent().addClass('answered');
				
				$('.more-info').show();
			}
			
		});
	});

</script>