{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<script>
    {% if content.field_related_media[0] %}
        var data = [];
        {% for key, related_media in content.field_related_media if key|first != '#' %}

            {% if content.field_related_media[key]['#node'].field_orig_filename[0].value ends with "m4v" %}
                {% set orig_filename = content.field_related_media[key]['#node'].field_orig_filename[0].value|split('.')[0] %}
            {% else %}
                {% set orig_filename = content.field_related_media[key]['#node'].field_orig_filename[0].value %}
            {% endif %}
        
            {% if orig_filename|length == 1 %}
        		{% set orig_filename = '00000' ~ orig_filename %}
        
            {% elseif orig_filename|length == 2 %}
                {% set orig_filename = '0000' ~ orig_filename %}
        
            {% elseif orig_filename|length == 3 %}
                {% set orig_filename = '000' ~ orig_filename %}
        
            {% elseif orig_filename|length == 4 %}
                {% set orig_filename = '00' ~ orig_filename %}
        
            {% elseif orig_filename|length == 5 %}
                {% set orig_filename = '0' ~ orig_filename %}
        	{% endif %}

            {% if content.field_related_media[key]['#node'].field_orig_filename[0].value %}
                {% if content.field_related_media[key]['#node'].field_taxonomy.target_id == 36 %}
                    data["{{ orig_filename }}"] = {
                        root: "{{ orig_filename }}",
                        title: "{{ content.field_related_media[key]['#node'].title.value }}",
                        description: "{{ content.field_related_media[key]['#node'].body[0].value|e('js') }}",
                        caption: "{{ content.field_related_media[key]['#node'].field_caption[0].value|striptags }}",
                        creator: "{{ content.field_related_media[key]['#node'].field_creator[0].title[0].value }}"
                    };
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</script>

<div class="article-node">
	<div class="row">
		<div class="col-md-3 col-sm-12">
		
            {% include directory ~ '/inc/sidebar-articles.html.twig' %}
	
		</div>
	
		<div class="col-md-9 col-sm-12">			
			<div class="article">
				<h1>{{ label }}</h1>
				
				<div class="body">
				
				<div class="body-mediaitem">
					{% set first_item_done = false %}
					{% if content.field_related_media[0] %}
						<div class="gallery-image-container">
							<div class="gallery-items">
								{% for key, related_media in content.field_related_media if key|first != '#' %}
									 	
									 	{% if content.field_related_media[key]['#node'].field_orig_filename[0].value ends with "m4v" %}
		                                    {% set orig_filename = content.field_related_media[key]['#node'].field_orig_filename[0].value|split('.')[0] %}
		                                {% else %}
		                                    {% set orig_filename = content.field_related_media[key]['#node'].field_orig_filename[0].value %}
		                                {% endif %}
		                            
		                                {% if orig_filename|length == 1 %}
		                            		{% set orig_filename = '00000' ~ orig_filename %}
		                            
		                                {% elseif orig_filename|length == 2 %}
		                                    {% set orig_filename = '0000' ~ orig_filename %}
		                            
		                                {% elseif orig_filename|length == 3 %}
		                                    {% set orig_filename = '000' ~ orig_filename %}
		                            
		                                {% elseif orig_filename|length == 4 %}
		                                    {% set orig_filename = '00' ~ orig_filename %}
		                            
		                                {% elseif orig_filename|length == 5 %}
		                                    {% set orig_filename = '0' ~ orig_filename %}
		                            	{% endif %}
		                            	
		                            	{% set media_title = content.field_related_media[key]['#node'].title.value %}
		                            	
		                            	{% if content.field_related_media[key]['#node'].field_taxonomy.target_id != 37%}
		                            		
		                            		<div class="image {% if first_item_done %}hidden{% endif %} {{orig_filename}}">
		                            			<img src="https://media.historyofvaccines.org/images/{{ orig_filename }}_265.jpg" alt="{{media_title}}" />
		                            		</div>
		                            		
		                            	{% else %}
		                            	
		                            		<div class="video {% if first_item_done %}hidden{% endif %} {{orig_filename}}">
												<video 
													src="https://media.historyofvaccines.org/mobile/video/320/{{ orig_filename }}.mp4" 
													poster="https://media.historyofvaccines.org/mobile/video/320/{{ orig_filename }}.jpg" 
													controls="controls" 
													preload="none" 
													width="100%">
												</video>
											</div>
		                            	
		                            	{% endif %}
				                        
				                        {% if first_item_done == false %}
									 		{% set first_item_done = true %}
									 	{% endif %}
									 
									
								{% endfor %}
							</div>
							
							{% if content.field_related_media[0] %}
							
								<p style='line-height: 15px; margin-top: 15px; font-size: 13px;'><small>
                                    
                                    <strong>{{ content.field_related_media[0]['#node'].field_caption.value }}</strong><br />

                                    {% set mediatitle = content.field_related_media[0]['#node'].getTitle() %}
                                    {% set copyright = content.field_related_media[0]['#node'].field_copyright.entity.getTitle() %}
                                    {% set creator = content.field_related_media[0]['#node'].field_creator.entity.getTitle() %}

									{% if copyright != mediatitle %}
										<em>{{ copyright }}</em>
									{% else %}
										{% if creator != mediatitle %}
											<em>{{ creator }}</em>
										{% endif %}
									{% endif %}

		                        </small></p>
		                        
		                    {% endif %}
		                    
		                    {% if content.field_related_media[0] %}
		                    	<div id="body-mediaitem-switcher">
		                    		{% for key, related_media1 in content.field_related_media if key|first != '#' %}
		                    			
		                    			{% if content.field_related_media[key]['#node'].field_orig_filename[0].value ends with "m4v" %}
		                                    {% set thumb_file = content.field_related_media[key]['#node'].field_orig_filename[0].value|split('.')[0] %}
		                                {% else %}
		                                    {% set thumb_file = content.field_related_media[key]['#node'].field_orig_filename[0].value %}
		                                {% endif %}
		                                
		                                
		                                {% if thumb_file|length == 1 %}
		                            		{% set thumb_file = '00000' ~ thumb_file %}
		                            
		                                {% elseif thumb_file|length == 2 %}
		                                    {% set thumb_file = '0000' ~ thumb_file %}
		                            
		                                {% elseif thumb_file|length == 3 %}
		                                    {% set thumb_file = '000' ~ thumb_file %}
		                            
		                                {% elseif thumb_file|length == 4 %}
		                                    {% set thumb_file = '00' ~ thumb_file %}
		                            
		                                {% elseif thumb_file|length == 5 %}
		                                    {% set thumb_file = '0' ~ thumb_file %}
		                            	{% endif %}
		                    		
                                        {% set mediatitle = content.field_related_media[key]['#node'].getTitle() %}
                                        {% set copyright = content.field_related_media[key]['#node'].field_copyright.entity.getTitle() %}
                                        {% set creator = content.field_related_media[key]['#node'].field_creator.entity.getTitle() %}

		                    		
			                    		{% if content.field_related_media[key]['#node'].field_taxonomy.target_id != 37 %}
			                    		
			                    			{% if content.field_related_media[key]['#node'].field_creator.entity.title.value %}
			                    				{% set text = content.field_related_media[key]['#node'].field_creator.entity.title.value|raw %}
											{% endif %}
			                    			
			                    			<div 
			                    				class="body-mediaitem-small body-mediaitem-small-article" 
			                    				data-filename="{{ thumb_file }}" 
			                    				data-type="image" 
			                    				data-caption="
                                                    <small>
                                                    <strong>{{ content.field_related_media[key]['#node'].field_caption.value }}</strong>
                                                    <br />
                                                    {% if copyright != mediatitle %}
                										<em>{{ copyright }}</em>
                									{% else %}
                										{% if creator != mediatitle %}
                											<em>{{ creator }}</em>
                										{% endif %}
                									{% endif %}
                                                    </small>">
															  <img 
															  	src="https://media.historyofvaccines.org/images/{{ thumb_file }}_265.jpg" 
															  	alt="{{ content.field_related_media[key]['#node'].title.value }}" 
															  />
											</div>
			                    		
			                    		{% else %}
			                    		
			                    			<div 
			                    				class="body-mediaitem-small body-mediaitem-small-article" 
			                    				data-filename="{{ thumb_file }}" 
			                    				data-type="video" 
			                    				data-caption="
                                                    <small>
                                                    <strong>{{ content.field_related_media[key]['#node'].field_caption.value }}</strong>
                                                    <br />
                                                    {% if copyright != mediatitle %}
                										<em>{{ copyright }}</em>
                									{% else %}
                										{% if creator != mediatitle %}
                											<em>{{ creator }}</em>
                										{% endif %}
                									{% endif %}
                                                    </small>">
															  <img 
															  	src="https://media.historyofvaccines.org/images/{{ thumb_file }}_265.jpg" 
															  	alt="{{ content.field_related_media[key]['#node'].title.value }}" 
															  />
											</div>
			                    			
			                    		{% endif %}
		                    		
		                    		{% endfor %}
		                    		
		                    	</div>
		                    {% endif %}
							
						</div>
					{% endif %}
				
				</div>
					
								
				{{ content.body  }}
				</div>
				
				{% if content.field_related_timeline_entries[0] %}
					{% for key, entry in content.field_related_timeline_entries if key|first != '#' %}
						<div class="timeline-entry border-box">
							<p class="date">
                            {% if language.id == 'ar' %}مدخل الإطار الزمني{% endif %}
                            {% if language.id == 'ur' %}ٹائم لائن اندراج{% endif %}
                            {% if language.id == 'hi' %}इस समय प्रवेश:{% endif %}
                            {{ entry['#node'].field_event_date.value }}</p>
						
							<p class="title">{{ entry['#node'].title.value }}</p>
							
						
							<div class="">
								{% if entry['#node'].field_related_media[0].entity.field_orig_filename.value %}
									<div style="float:left; width:50%;">
								{% else %}
									<div>
								{% endif %}
									{{ entry['#node'].body.value|raw }}
									<a href="{{front_page}}/{{language.id}}/timeline#EVT_{{ entry['#node'].field_uid.value }}" class="btn btn-green">
                                        {% if language.id == 'ar' %}انظر هذا العنصر في الإطار الزمني{% endif %}
                                        {% if language.id == 'ur' %}ٹائم لائن میں اس شے کے دیکھتے ہیں{% endif %}
                                        {% if language.id == 'hi' %}इस समय में इस मद देखें{% endif %}
                                    </a>
								</div>
								
								{% if entry['#node'].field_related_media[0].entity.field_orig_filename.value %}

									<div style="float:right;">
										{% if entry['#node'].field_related_media[0].entity.field_orig_filename.value ends with "m4v" %}
				                            {% set orig_filename = entry['#node'].field_related_media[0].entity.field_orig_filename.value|split('.')[0] %}
				                        {% else %}
				                            {% set orig_filename = entry['#node'].field_related_media[0].entity.field_orig_filename.value %}
				                        {% endif %}
				                    
				                        {% if orig_filename|length == 1 %}
				                    		{% set orig_filename = '00000' ~ orig_filename %}
				                    
				                        {% elseif orig_filename|length == 2 %}
				                            {% set orig_filename = '0000' ~ orig_filename %}
				                    
				                        {% elseif orig_filename|length == 3 %}
				                            {% set orig_filename = '000' ~ orig_filename %}
				                    
				                        {% elseif orig_filename|length == 4 %}
				                            {% set orig_filename = '00' ~ orig_filename %}
				                    
				                        {% elseif orig_filename|length == 5 %}
				                            {% set orig_filename = '0' ~ orig_filename %}
				                    	{% endif %}
				                    	
										<img style="margin-right:15px; margin-bottom:5px;" 
										src="https://media.historyofvaccines.org/images/{{ orig_filename }}_265.jpg" />
									</div>
									
								{% endif %}
								
								<br style="clear:both;" />
							</div>
							
						</div>
					{% endfor %}
				{% endif %}
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">	
	
	$(document).ready(function(){
		var taxID = {{node.field_taxonomy.target_id}};
		
		if(taxID == 1) {
			$('.panel-title:eq(4)').find('span.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
			$('#collapseFive').addClass('in');	
		}
		
		if(taxID == 2) {
			$('.panel-title:eq(3)').find('span.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
			$('#collapseFour').addClass('in');	
		}
		
		if(taxID == 3) {
			$('.panel-title:eq(1)').find('span.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
			$('#collapseTwo').addClass('in');	
		}
		
		if(taxID == 4) {
			$('.panel-title:eq(2)').find('span.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
			$('#collapseThree').addClass('in');	
		}
		
		if(taxID == 5) {
			$('.panel-title:eq(0)').find('span.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
			$('#collapseOne').addClass('in');	
		}
		
		
		
		
	});

</script>