{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}


<div class="mobile-panel mobile-filter hidden-sm hidden-md hidden-lg" style="width:100%;">
	<div class="panel-group " id="accordion">
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                	<a data-toggle="collapse" data-parent="#accordion" href="#filtersList">
                		FILTER MEDIA
						<span class="pull-right" style="font-size:10px;">[<span class="glyphicon glyphicon-plus" style="top:2px;"></span>]</span>
                	</a>
                </h4>
            </div>
            
            <div id="filtersList" class="panel-collapse collapse">
            	<div class="panel-body">
            		{{ exposed_form_gallery }}
            	</div>
            </div>
		</div>
        
    </div>

</div>
<div class="article-node gallery">
	<div class="row">
		<div class="col-md-3 hidden-sm hidden-xs">
			<div class="sidebar">
				<div class="sidebar-item">
					<h5>FILTER MEDIA</h5>
					
					<ul class="link-list gallery-form">
						{{ exposed_form_gallery }}
					</ul>
				</div>
			</div>
		</div>
	
		<div class="col-md-9">
            <h1>Results</h1>
            <span class="text-muted gallery-results-total">{{ header }}</span>

            <div class="row">
                {{ rows }}
            </div>
            
            {{ pager }}
				
		</div>
	</div>
</div>



